<footer>
    <div class="container">
        <div class="footer-all">
            <div>
                <div class="fl-footer-one pb-3">
                    <p>Все страховые продукты</p>
                    <p>Часто задаваемые вопросы</p>
                    <p>Политика обработки персональных данных</p>
                    <p>Политика конфиденциальности</p>
                </div>
                <img src="./img/Line 3.png" alt="" style="height: 1px; width: 100%;">
            </div>
            <div class="r">
                <div class="footer-col-one"  data-aos="fade-right">
                    <div class="contact-info">
                        <h2>+998 (71) 207-58-00</h2>
                    </div>
                    <div class="address-info">
                        <h4>Круглосуточный телефон</h4>
                    </div>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="footer-text-three">
                        <img src="./img/impex-logo-footer.svg" alt="" style="width: 100px;">
                        <p>2024 - АО «IMPEX INSURANCE». Все права защищены   </p>
                    </div>
                </div>
                <div>
                    <div class="footer-links">
                        <div class="footer-col" data-aos="fade-left">
                            <h4>О компании</h4>
                            <ul>
                                <li><a href="#">Все услуги</a></li>
                                <li><a href="#">Открытые данные</a></li>
                                <li><a href="#">Новости</a></li>
                            </ul>
                        </div>
                        <div class="footer-col" data-aos="fade-left">
                            <h4>Меню один</h4>
                            <ul>
                                <li><a href="#">Два Меню</a></li>
                                <li><a href="#">Меню номер три</a></li>
                                <li><a href="#">Снова меню</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-text-three">
                        <a href="#">info@impex-insurance.uz</a>
                        <p>2024 - АО «IMPEX INSURANCE». Все права защищены   </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>