<header class="bg-white shadow p-8 sticky top-0 z-50 w-full">
    <div class="container mx-auto">
        <div class="header__all-flex flex items-center justify-between py-3 text-sm">
            <div class="header__logo flex items-center justify-between gap-10" data-aos="fade-up">
                <img src="./img/impex-logo.svg" alt="НурФинанс">
                <nav class="header__nav" data-aos="fade-up">
                    <ul class="header__nav-list flex gap-10 list-none">
                        <li class="header__nav-item"><a href="#" class="header__nav-link">ФИЗИЧЕСКИМ ЛИЦАМ</a></li>
                        <li class="header__nav-item"><a href="#" class="header__nav-link">ЮРИДИЧЕСКИМ ЛИЦАМ</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header__contact flex items-center gap-5" data-aos="fade-down">
                <div class="flex items-center px-2 rounded-md" style="border: 1px solid gray;">
                    <img src="./img/search.svg" alt="">
                    <input type="text" class="rounded-md outline-none border-none px-2 py-1">
                </div>
                <div class="flex">
                    <img src="./img/eyes.svg" alt="">
                    <img src="./img/eyes.svg" alt="">
                </div>
                <img src="./img/Line 1.svg" alt="">
                <a href="tel:88002700700" class="header__phone" style="text-decoration: none;">+998 (71) 207-58-00</a>
                <div class="relative">
                    <button id="languageButton" style="background-color: #F58635;" class="text-white px-3 py-1 rounded">RU</button>
                    <ul id="languageDropdown" class="absolute hidden bg-white shadow-md mt-2 py-2 rounded-md">
                        <li><a href="#" class="block px-4 py-2 text-black" data-lang="UZ">UZ</a></li>
                        <li><a href="#" class="block px-4 py-2 text-black" data-lang="EN">EN</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
    </div>
</header>